

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  font-family: "Poppins", sans-serif;
}

@media (max-width:991px) {
  .container {
    padding: 18px 4%;
  }
}

@media (max-width:768px) {
  .container {
    padding: 18px 4%;
  }
}

@media (max-width:340px) {
  .container {
    padding: 18px 4%;
  }
}

::-webkit-scrollbar {
  display: none;
}
